.site-head {
  padding-top: get-size("500");

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__branding {
    display: block;
    width: 7.25rem;
    color: var(--color-text);
    text-decoration: none;

    > svg {
      display: block;
      width: 100%;
    }

    &:hover {
      color: var(--color-accent);
    }

    @include media-query("md") {
      width: 14.5rem;
    }
  }

  &__docs,
  &__github {
    display: block;
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;

    &:hover {
      color: var(--color-accent);
    }
  }
}
