<header class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">
      <a href="/" class="site-head__branding">
        {% include "inline-svg/ubmc.svg" %}
      </a>

      <div class="stack-200">
        <div class="user-toggle">
          <div role="status" class="sr-only | js-mode-status"></div>
          <button class="toggle-button js-mode-toggle">
            <span class="sr-only toggle-button__text js-mode-toggle-text">Enable dark mode</span>
          </button>
        </div>
        <a href="#" class="site-head__docs | text-200 md:text-300 weight-bold">Documentation</a>
        <a href="https://github.com/u-root/u-bmc" class="site-head__github | text-200 md:text-300 weight-bold">Github</a>
      </div>
    </div>
  </div>
</header>